<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="utf-8">
		<title>Confirmation de votre réservation</title>
		<style>
			body { font-family: Arial; color: black; margin: 0px; padding: 0px;}
			.bandeau-bleu { background-color: #26519e; color: white;}
			.bandeau-bleu, .bandeau-blanc {  padding: 10px;}
			img { width: 100px; height: 100px; margin-top: 5px; margin-right: 5px; display: inline-block}
			.title { display: inline-block; margin: 0px; padding: 0px; vertical-align: top; font-size: 23px; margin-top: 1px;}
			h1 { margin: 20px 0px 20px 0px; color: #26519e;}
			table { min-width: 50%;}			
			
		</style>
	</head>

	<body>
		
		<div class="bandeau-bleu">		
			{#<img src="{{ logo }}" alt="baby-beluga-draw" />#}
			<img src="http://blogs.discovermagazine.com/d-brief/files/2015/12/shutterstock_58217023.jpg" style="" />
			<h2 class="title">The<br />Beluga<br />Superstar<br />Museum</h2>																			
		</div>
		
		<div class="bandeau-blanc">
			<h1>Confirmation de votre réservation !</h1>
			<p>Votre réservation pour le {{ resa.date|date('d/m/Y') }} a bien été prise en compte !</p>
			<p>Récapitulatif de votre réservation :</p>
			<table>
				<legend>{#Participants#}</legend>
				{% for person in resa.persons %}
				<tr>
					<td>{{ person.firstname }} {{ person.lastname }}</td>
					<td>{{ person.age }} ans</td>
					<td>
						{{ (person.reduction == 0) ? "Plein tarif" : "Demi-tarif" }}									
					</td>
					<td>
						{% if resa.typeResa == 'H' %}
							{{ person|price / 2 }} euros
						{% else %}
							{{ person|price }} euros
						{% endif %}
					</td>
				</tr>
				{% endfor %}
				<tr>
					<td colspan="3" style="text-align: right"><br />Total :</td><td><br />{{ total }} euros</td>
				</tr>
			</table>
			<p>Votre billet vous autorise à entrer dans le musée à partir de {{ (resa.typeResa == 'H') ? "14h" : "9h" }}.</p>
			<p>Des justificatifs pour les tarifs spéciaux pourront également vous être demandés.</p>			
		</div>
		
		<div class="bandeau-bleu">
			<h2>Code de réservation : {{ resa.code }}</h2>
			<div>Ce code pourra vous être demandé à l'entrée du musée.</div>
			<br />
		</div>
		
		<div class="bandeau-blanc">
			<h1>A bientôt !</h1>
			<div class="end-of-mail">
				<p>Plus d'infos et réclamation sur notre site :</p>
				<p>
					<a href="www.theamazingbelugamuseum.com">www.theamazingbelugamuseum.com</a>
				</p>
				<p>Ou contact :</p>
				<p>
					<a href="mailto:contact@belugamuseum.com">Nous écrire</a>
				</p>
			</div>
		</div>
				
	</body>
	
</html>