<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="utf-8">
		<title>Confirmation de votre réservation</title>
		<style>
			body { font-family: Arial; color: black; margin: 0px; padding: 0px;}
			.bandeau-bleu { background-color: #26519e; border: 1px solid #26519e; color: white; margin: 0px;}
			.bandeau-bleu, .bandeau-blanc {  padding: 5px;}
			
			img { width: auto; height: 250px; display: inline-block; margin-right: 15px;}
			.title { display: inline-block; margin: 0px; padding: 0px; vertical-align: top; font-size: 50px;}
			h2 { margin: 20px 0px 0px;}
			
			h1 { margin: 20px 0px 20px 0px; color: #26519e;}
			table { min-width: 50%; width: 100%;}

			.text-center { text-align: center;}
			
		</style>
	</head>

	<body>
		
		<div class="bandeau-bleu">		
			<img src="{{ logo }}" alt="baby-beluga-draw" />
			{#<img src="http://blogs.discovermagazine.com/d-brief/files/2015/12/shutterstock_58217023.jpg" style="" />#}
			<h2 class="title">The Amazing<br />BELUGA<br />SUPERSTAR<br />MUSEUM</h2>																			
		</div>
		
		<div class="bandeau-blanc">
			<h1>Confirmation de votre réservation !</h1>
			<p>Votre réservation pour le {{ resa.date|date('d/m/Y') }} a bien été prise en compte !</p>
			<p><u>Récapitulatif de votre réservation :</u></p>
			<table>
				<legend>{#Participants#}</legend>
				{% for person in resa.persons %}
				<tr>
					<td>{{ person.firstname }} {{ person.lastname }}</td>
					<td>{{ person.age }} ans</td>
					<td>
						{{ (resa.typeResa == "F") ? "Toute la journée" : "Demi-journée" }}, {{ (person.reduction == 0) ? "Plein tarif" : "Demi-tarif" }}									
					</td>
					<td>
						{% if resa.typeResa == 'H' %}
							{{ person|price / 2 }} euros
						{% else %}
							{{ person|price }} euros
						{% endif %}
					</td>
				</tr>
				{% endfor %}
				<tr>
					<td colspan="3" style="text-align: right">
						<br />
						<strong>Total :</strong>
					</td>
					<td>
						<br />
						<strong>{{ total }} euros</strong>
					</td>
				</tr>
			</table>
			<p>Votre billet vous autorise à entrer dans le musée à partir de {{ (resa.typeResa == 'H') ? "14h" : "9h" }}.</p>
			<p>Des justificatifs pour les tarifs spéciaux pourront également vous être demandés.</p>			
		</div>
		
		<div class="bandeau-bleu">
			<br />
			<h2 class="text-center">Code de réservation : {{ resa.code }}</h2>
			<p class="text-center">Attention, ce code vous sera demandé à l'entrée du musée !</p>
			<br />
		</div>
		
		<div class="bandeau-blanc">
			<h1>A bientôt !</h1>
			<div class="end-of-mail">
				<p>Plus d'infos et réservations sur notre site :</p>
				<p>
					<a href="www.theamazingbelugamuseum.com">www.theamazingbelugamuseum.com</a>
				</p>
				<p>Pour toute réclamation, merci de nous contacter par courriel :</p>
				<p>
					<a href="mailto:contact@amazingbelugamuseum.com">Nous écrire</a>
				</p>
			</div>
		</div>
				
	</body>
	
</html>