{% extends 'AppBundle::layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
{% endblock stylesheets %}

{% block content %}

	<div class="container reservation-page">
		<div class="row">
			<div class="col-md-12">
				<h1 class="reservation-page-main-title">The Amazing BELUGA SUPERSTAR MUSEUM</h1>
			</div>
			<div class="col-md-12">
				<br />
				{% image '@AppBundle/Resources/public/img/tickets.png' %}
					<img src="{{ asset_url }}" style="float: left; height: 100px; margin-right: 20px;" alt="tickets-icon"  />
				{% endimage %}					
				<h2>Make a <br />reservation</h2>
				<br />
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				{{ form_start(form, {'attr' : {'class':'deep-bg','id':'payment-form'}}) }}				
					<div class="reservation-page-question row">
						<p>Quand souhaitez-vous venir au musée ?</p>
						<div class="col-md-6">							
							{{ form_widget(form.date, {'attr' : {'class':'input-short datepicker','placeholder':"now"|date("d/m/Y") }}) }}							
							{{ form_widget(form.typeResa, {'attr' : {'class':'input-short resa-type'}}) }}
						</div>
						<div class="col-md-6">							
							{{ form_errors(form.date) }}
							{{ form_errors(form.typeResa) }}
							<ul>
								<li id="type-info-1">Attention, avec un billet demi-journée, vous n'êtes autorisé à entrer dans le musée qu'à partir de 14h.</li>
								<li id="type-info-2">Les billets à la journée ne sont plus disponibles pour aujourd'hui...</li>
							</ul>
						</div>
					</div>
					
					<div class="reservation-page-question row">
						<p>Indiquez les noms, prénoms et dates de naissance des personnes qui participeront à cette visite :</p>
						<div class="reservation-danger"><span>!</span>&nbsp; Un justificatif vous sera demandé en cas de tarif réduit (étudiant, militaire ou équivalent).</div>
						<div class="col-md-12">
						{{ form_errors(form.persons) }}												
												
						<div id="persons-fields-list" data-prototype="
							{% filter escape %}
								{{ include('AppBundle:FormComponents:prototype.html.twig', { 'form': form.persons.vars.prototype }) }}
							{% endfilter %}">
						
						{% for personFields in form.persons %}		
							<div class="oneAddedPerson">
								{{ form_errors(personFields.lastname) }}								
								{{ form_widget(personFields.lastname, {'attr' : {'class':'input-short','placeholder':'Nom'}}) }}
								{{ form_errors(personFields.firstname) }}								
								{{ form_widget(personFields.firstname, {'attr' : {'class':'input-short','placeholder':'Prénom'}}) }}
								{{ form_errors(personFields.age) }}								
								{{ form_widget(personFields.age, {'attr' : {'class':'input-short'}}) }}
								{{ form_errors(personFields.reduction) }}								
								{{ form_widget(personFields.reduction, {'attr' : {'class':'input-short'}}) }}
								<span class="removePerson">X</span>
							</div>        
						{% endfor %}					
						
						</div>
						<br /><button id="add-another-person" class="btn-deep-blue input-short">Ajouter</button>
						</div>
					</div>
					
					<div class="reservation-page-question row">
						<p>Coût total :</p>
						<div class="col-md-12">							
							<div class="reservation-page-cout-total input-short"><span>0</span> euros</div>
						</div>
					</div>
					
					<div class="reservation-page-question row">
						<p>Réservation au nom de :</p>
						<div class="col-md-6">														
							{{ form_widget(form.nom, {'attr' : {'class':'input-short','placeholder':'Nom','data-stripe':'name'}}) }}						
						</div>
						<div class="col-md-6">
							{{ form_errors(form.nom) }}
						</div>
					</div>
					
					<div class="reservation-page-question row">
						<p>Adresse email ? (Vos billets vous seront envoyés à cette adresse.)</p>
						<div class="col-md-6">														
							{{ form_widget(form.email, {'attr' : {'class':'input-long','placeholder':'Adresse email'}}) }}						
						</div>
						<div class="col-md-6">
							{{ form_errors(form.email) }}
						</div>
					</div>
					
					<div class="reservation-page-question row">
						<p>Coordonnées de paiement :</p>
						<div class="reservation-danger">(Une confirmation vous sera demandée avant validation du paiement.)</div>						
						<div class="col-md-6">																									
							<input class="input-long" type="text" size="20" data-stripe="number" placeholder="Numéro de carte" />
							<br /><br />							
							<input class="" type="text" size="2" data-stripe="exp_month" placeholder="00" /><span> / &nbsp;&nbsp;</span><input type="text" size="2" data-stripe="exp_year" placeholder="00" />
							<br /><br />
							<input class="input-short" type="text" size="4" data-stripe="cvc" placeholder="Cryptogramme" />
						</div>
						<div class="col-md-6">
							<span class="payment-errors"></span>
						</div>
					</div>
					
					<div class="reservation-page-question row">
						<div class="col-md-12">
							<input type="submit" class="btn-green input-short" value="Payer" /> <a href="{{ path('homepage') }}" class="btn-orange input-short">Annuler</a>
						</div>
					</div>
				
				<div class="form-rest" style="background-color: yellow; display: none">
					{{ form_rest(form) }}
				</div>
				{{ form_end(form) }}				
			</div>
		</div>
				
		<footer class="footer">
			<p class="footer-text">About - Contact</p>
		</footer>		
	</div>	

{% endblock content %}

{% block javascripts_body %}	
	{{ parent() }}
	<script type="text/javascript">	
		var availableDates = {{ fullDates|json_encode()|raw }};
		<!-- var availableDates = [{"date":{"date":"2017-01-24 00:00:00.000000","timezone_type":3,"timezone":"Europe\/Berlin"}},{"date":{"date":"2017-01-25 00:00:00.000000","timezone_type":3,"timezone":"Europe\/Berlin"}},{"date":{"date":"2017-01-31 00:00:00.000000","timezone_type":3,"timezone":"Europe\/Berlin"}},{"date":{"date":"2017-02-01 00:00:00.000000","timezone_type":3,"timezone":"Europe\/Berlin"}},{"date":{"date":"2017-03-26 00:00:00.000000","timezone_type":3,"timezone":"Europe\/Berlin"}},{"date":{"date":"2017-11-11 00:00:00.000000","timezone_type":3,"timezone":"Europe\/Berlin"}}]; -->
		<!-- console.log(availableDates); -->
	</script>
	<script src="http://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
	{% javascripts
		'bundles/app/js/datepicker.js'
		'bundles/app/js/reservation.js'
	%}
		<script src="{{ asset_url }}"></script>
		
		<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
		<script type="text/javascript">
			Stripe.setPublishableKey('pk_test_ZpqFBfj36X6NW7TNYxGAVBwT');

			function stripeResponseHandler(status, response) {
			  // Grab the form:
			  var $form = $('#payment-form');

			  if (response.error) { // Problem!

				// Show the errors on the form:
				$form.find('.payment-errors').html('<ul><li>'+response.error.message+'</li></ul>');
				$form.find('.submit').prop('disabled', false); // Re-enable submission

			  } else { // Token was created!

				// Get the token ID:
				var token = response.id;

				// Insert the token ID into the form so it gets submitted to the server:
				$form.append($('<input type="hidden" name="stripeToken">').val(token));

				// Submit the form:
				$form.get(0).submit();
			  }
			};
			
			$(function() {
			  var $form = $('#payment-form');
			  $form.submit(function(event) {
				// Disable the submit button to prevent repeated clicks:
				$form.find('.submit').prop('disabled', true);

				// Request a token from Stripe:
				Stripe.card.createToken($form, stripeResponseHandler);

				// Prevent the form from being submitted:
				return false;
			  });
			});
		</script>
		
	{% endjavascripts %}
{% endblock javascripts_body %}