{% extends 'AppBundle::layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
{% endblock stylesheets %}

{% block content %}

	<div class="container reservation-page">
		<div class="row">
			<div class="col-md-12">
				<h1 class="reservation-page-main-title">The Amazing BELUGA SUPERSTAR MUSEUM</h1>
			</div>
			<div class="col-md-12">
				<br />
				{% image '@AppBundle/Resources/public/img/tickets.png' %}
					<img src="{{ asset_url }}" style="float: left; height: 100px; margin-right: 20px;" alt="tickets-icon"  />
				{% endimage %}					
				<h2>Make a<br />reservation</h2>
				<br />
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				{{ form_start(form, {'attr' : {'class':'deep-bg'}}) }}				
					<div class="reservation-page-question">
						<p>Quand souhaitez-vous venir au musée ?</p>
						{{ form_errors(form.date) }}
						{{ form_widget(form.date, {'attr' : {'class':'input-short datepicker','placeholder':'24/01/2017'}}) }}
						{{ form_errors(form.type) }}
						{{ form_widget(form.type, {'attr' : {'class':'input-short resa-type'}}) }}
						
						<div id="type-info-1">Attention, avec un billet demi-journée, vous n'êtes autorisé à entrer dans le musée qu'à partir de 14h.</div>
						<div id="type-info-2">Les billets à la journée ne sont plus disponibles pour aujourd'hui...</div>						
					</div>
					<div class="reservation-page-question">
						<p>Indiquez les noms, prénoms et dates de naissance des personnes qui participeront à cette visite :</p>
						
						<div id="persons-fields-list" data-prototype="
							{% filter escape %}
								{{ include('AppBundle:FormComponents:prototype.html.twig', { 'form': form.persons.vars.prototype }) }}
							{% endfilter %}">
						
						{% for personFields in form.persons %}		
							<div class="oneAddedPerson">
								{{ form_errors(personFields.lastname) }}								
								{{ form_widget(personFields.lastname, {'attr' : {'class':'input-short','placeholder':'Nom'}}) }}
								{{ form_errors(personFields.firstname) }}								
								{{ form_widget(personFields.firstname, {'attr' : {'class':'input-short','placeholder':'Prénom'}}) }}
								{{ form_errors(personFields.age) }}								
								{{ form_widget(personFields.age, {'attr' : {'class':'input-short'}}) }}
								{{ form_errors(personFields.reduction) }}								
								{{ form_widget(personFields.reduction, {'attr' : {'class':'input-short'}}) }}
								<span>To be continued... in template...</span>
							</div>        
						{% endfor %}					
						
						</div>
						<br /><button id="add-another-person" class="btn-deep-blue input-short">Ajouter</button>
						
					</div>
					<div class="reservation-page-question">
						<p>Coût total :</p>
						<span class="reservation-page-cout-total input-short">24 euros</span>
					</div>
					<div class="reservation-page-question">
						<p>Adresse email ? (Vos billets vous seront envoyés à cette adresse.)</p>
						{{ form_errors(form.email) }}
						{{ form_widget(form.email, {'attr' : {'class':'input-long','placeholder':'Adresse email'}}) }}						
					</div>
					<div class="reservation-page-question">
						<p>Mode de paiement :</p>
						<select class="input-short"><option>CB</option><option>VISA</option><option>MASTER CARD</option></select>
						<input class="input-long" type="text" placeholder="Nom du porteur de la carte" />
						<br /><br />
						<input class="input-long" type="text" placeholder="Numéro de carte" /> <input class="input-short" type="text" placeholder="Cryptogramme" />
					</div>
					<div class="reservation-page-question">
						<input type="submit" class="btn-green input-short" value="Payer" /> <input type="reset" class="btn-orange input-short" value="Annuler" />
					</div>
				{{ form_rest(form) }}
				{{ form_end(form) }}				
			</div>
		</div>
				
		<footer class="footer">
			<p class="footer-text">About - Contact</p>
		</footer>		
	</div>	

{% endblock content %}

{% block javascripts_body %}
	{{ parent() }}	
	<script src="http://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
	{% javascripts 'bundles/app/js/datepicker-fr.js'
		'bundles/app/js/datepicker.js'
		'bundles/app/js/reservation.js' %}
		<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock javascripts_body %}

