<div>
   
	<table class="table">
		<tr>
		
		<td>
		{{ form_label(form.firstname) }}
		{{ form_widget(form.firstname) }}
		</div>
		</td>
		
		<td>
		<div class="col-md-3">	
		{{ form_label(form.lastname) }}
		{{ form_widget(form.lastname) }}
		</div>
		</td>
		
		<td>
		<div class="col-md-2">	
		{{ form_label(form.age) }}
		{{ form_widget(form.age) }}
		</div>
		</td>
		
		<td>
		<div class="col-md-3">	
		{{ form_label(form.reduction) }}
		{{ form_widget(form.reduction) }}
		</div>
		</td>
		
		<td>
		<div class="col-md-1">
			<br />X
		</div>
		</td>
		
		</tr>
	</table>
	
	</div>
	
